*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}
body{
    background-color: blue;

}
main{
    background: white;
    width: 500px;
    margin-top: auto;
    padding: 20px;
    box-shadow: 3px 3px 5px black;
}