*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}
body{
    background-color: azure;

}
main{
    background: red;
    width: 300px;
    margin-top: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px pink;
}